# =====================================
# Python
# =====================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =====================================
# Virtual Environment
# =====================================

venv/
.venv/

# =====================================
# Git
# =====================================

.git/
.gitignore

# =====================================
# VS Code
# =====================================

.vscode/

# =====================================
# Python Cache
# =====================================

.pytest_cache/
.mypy_cache/

# =====================================
# Database
# =====================================

adaptive_llm.db

# =====================================
# Environment Variables
# =====================================

.env

# =====================================
# Streamlit Cache
# =====================================

.streamlit/

# =====================================
# Logs
# =====================================

*.log

# =====================================
# OS Files
# =====================================

.DS_Store
Thumbs.db